.header {
  height: 100vh;
  /* background: url('../../assets/imgs/hero.png'); */
  background: url('../../assets/imgs/hero2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-position-y: 37%; */
  background-position-y: 45%;
}

.header__hero {
  padding: 8rem 7rem 0;
}

.header__hero--heading {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 4.8rem;
  color: #0d0d0d;
}

.header__hero--heading span {
  display: block;
}

.header__hero--sub {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  color: #1b2021;
  width: 60%;
  margin: 1.6rem 0 3rem;
}

@media only screen and (max-width: 768px) {
  .header__hero {
    padding: 8rem 5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 85vh;
  }

  .header__hero {
    padding: 6rem 5rem 0;
  }

  .header__hero--heading {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 40vh;
  }

  .header__hero {
    padding: 5rem 2rem 0;
  }

  .header__hero--heading {
    font-size: 3rem;
  }

  .header__hero--sub {
    font-size: 1.8rem;
    width: 65%;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    height: 50vh;
    background-position-y: 35%;
  }
}
