.navigation {
  background: #d8d9de;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 5rem;
  position: relative;
}

.navigation.navigation__scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.navigation__box {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.navigation__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: none;
  padding-left: 1.6rem;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  display: flex;
}

.navigation__list:not(:first-child) {
  padding-left: 4rem;
}

.navigation__link {
  color: #0d0d0d;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.navigation__logo {
  width: 85%;
}

@media all and (min-width: 1500px) {
  .navigation {
    padding: 1.5rem 17rem;
  }
}

@media only screen and (max-width: 900px) {
  .navigation__logo {
    width: 65%;
    margin-left: 17.5%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    padding: 1.6rem 5rem;
    display: flex;
  }

  .navigation__container {
    padding: min(20vh, 8rem) 4.8rem;
    justify-content: unset;
    flex-direction: column;
    background-color: #d8d9de;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    height: 98vh;
    width: 32vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }

  .navigation__container.open {
    transform: translateX(0%);
  }

  .navigation__container .close {
    position: absolute;
    top: 1.8rem;
    right: 4.8rem;
    padding-top: 0;
  }

  .navigation__item {
    flex-direction: column;
    align-items: flex-end;
    order: 1;
  }

  .navigation__list {
    margin-top: 4rem;
  }

  .navigation__box {
    top: 2rem;
    right: 5rem;
  }

  .navigation__btn {
    display: block;
  }

  .navigation__logo {
    width: 60%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .navigation {
    padding: 1.6rem 2rem;
  }

  .navigation__container {
    padding: min(20vh, 8rem) 4rem;
    width: 60vw;
  }

  .navigation__container .close {
    top: 2rem;
    right: 2rem;
  }

  .navigation__box {
    align-items: center;
    top: 2rem;
    right: 2rem;
  }

  .navigation__box .navigation__link {
    margin-top: -0.6rem;
  }
}

@media only screen and (max-width: 375px) {
  .navigation__container {
    width: 70vw;
  }
}
